#top{
    background-color: red;
    width:800px;
    height: 50px;
  }
  #left{
    background-color: orange;
    height: 700px;
    width: 300px;
    float: left;
  }
  #right{
    background-color: yellow;
    height: 700px;
    width: 300px;
    float: right;
  }